.link--quickviewMoreDetails {
  background: #83b735;
}

.link--quickviewMoreDetails:hover {
  background: #74a32f;
}

.label--quickviewMoreDetails {
  font-size: 13px;
  font-weight: 600;
  color: white;
}

.link--backToShopMiniCart {
  border-radius: 0;
}

.label--backToShopMiniCart {
  font-size: 13px;
  font-weight: 600;
  color: white;
}

.link--movingProdText {
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
  animation: slideIn-bottom 0.5s;
}

.label--movingProdText {
  color: white;
  font-size: 54px;
  font-weight: 600;
}

@keyframes slideIn-bottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
