.styledLinkContent {
  font-size: 12px;
}

/* styles for header1 */
/* ------------------ */
.styledLinkContent--topmenu-newsletter,
.styledLinkContent--topmenu-faq {
  color: #333;
  font-weight: 400;
  font-size: 12px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  line-height: 16px;
}
.styledLinkContainer--topmenu-newsletter,
.styledLinkContainer--topmenu-faq {
  margin-right: 0px;
  padding-right: 18px;
  margin-left: 0px;
  margin-top: 3px;
}

.styledLinkIcon--topmenu-newsletter {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.styledLinkContainer--topmenu-faq {
  border-right-style: solid;
  border-color: rgba(129, 129, 129, 0.2);
  border-width: 1px;
  padding-bottom: 10px;
  padding-right: 14px;
}

/* ------------------ */

/* styles for header2 */
/* ------------------ */
/* .styledLinkContent--wishlist {
  margin-left: 0px;
} */
.styledLinkContainer--wishlist {
  margin: 0px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 5.12px;
}
.styledLinkContainer--wishlist:hover {
  /* background-color: #eef7ee; */
}
.styledLinkIcon--wishlist {
  color: #333;
}
/* ------------------ */

/* styles for header3 */
/* ------------------ */
.styledLinkContent--browse-categories {
  width: 100%;
  color: #333;
  font-weight: 700;
  font-size: 13px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  align-items: center;
}
.styledLinkContainer--browse-categories {
  margin-left: 0px;
  margin-top: 1px;
  /* padding-top: 19px; */
}
.menuItem--browse-categories {
  /* width: 20%; */
  margin-right: 25px;
}
.styledLinkIcon--browse-categories {
  margin-right: 10px;
}

.styledLinkContent--headermenu {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 13px;
}
.styledLinkContainer--headermenu {
  /* padding-left: 10px;
  padding-right: 10px; */
  /* padding-bottom: 5px;
  padding-top: 5px; */

  margin-left: 0px;
  margin-right: 0px;
  /* margin-top: 11px; */

  height: 100%;
  display: flex;
  align-items: center;
}
.styledLink--headermenu {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(129, 129, 129, 0.2);
}
/* .menuItem--headermenu {
  padding-top: 3px;
} */

.styledLinkContent--headermenu-oferte-speciale {
  color: #ff0000;
  font-weight: 600;
  font-size: 18px;
}
/* .menuItem--headermenu-oferte-speciale {
  margin-left: 33%;
  margin-top: 2px;
} */

/* ------------------ */

/* styles for menu drop down */
/* ------------------------- */
.submenuWrapper--submenu-browse-categories {
  margin-top: -11px;
  padding-bottom: 0px;
  border-bottom: unset;
}
.styledLinkContent--primary-category {
  white-space: initial;
  word-break: normal;
  /* width: 100%; */
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #333;
}
.styledLinkContainer--primary-category {
  width: 90%;
  margin-left: 20px;
}
.styledLinkIcon--primary-category {
  transform: rotate(90deg);
}
.menuItem--primary-category {
  border-color: lightgray;
  border-bottom-style: solid;
  border-width: 1px;
}
.menuItem--primary-category:hover {
  background-color: whitesmoke;
}
/* ------------------------- */

/* styles for submenu drop down */
/* ---------------------------- */
.styledLinkContent--secondary-category {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #777;
}
.submenuWrapper--submenu-subcategories {
  margin-top: -52px;
  /* This should be recalculated in case we change the width of the parent. */
  margin-left: 252px;
}
/* ---------------------------- */

.menuContainerNav {
  width: 100%;
}

.styledLinkContainer--headermenuMobile {
  margin: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 50px;
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
  color: #2d2a2a;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.3;
}

.styledLinkContent--headermenuMobile {
  font-size: 13px;
  font-weight: 600;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #2d2a2a;
}

.styledLinkContainer--browse-categories {
  pointer-events: none;
}
