.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.newsletter {
  max-width: 100%;
  margin: 0 auto;
}

.newsletter .container {
  padding: 0 !important;
}

.newsletter :global(.vtex-button) {
  background-color: #83b735 !important;
}

.label {
  color: #fff;
  font-size: 26px;
}

.label--newsletter-home-page {
  color: #2d2a2a;
  font-size: 18px;
}

.buttonContainer--newsletter-home-page :global(.vtex-button) {
  border-radius: 0;
}

.buttonContainer--newsletter-home-page :global(.vtex-button__label) {
  font-size: 13px;
  font-weight: 600;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: grey;
  font-size: 14px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.inputGroup--newsletter-home-page {
  max-width: 100%;
}

.inputGroup--newsletter-home-page :global(.vtex-input) {
  flex-grow: 1;
}

.buttonContainer {
  padding-top: 0px;
}

.buttonContainer--newsletter-home-page :global(.vtex-button) {
  max-width: 100%;
  margin: 0;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.imageElement--zoomIn {
  transition: transform 0.5s ease;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
}

.imageElement--zoomIn:hover {
  transform: scale(1.2);
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #2d2a2a;
  font-weight: 600;
  font-size: 34px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

.autoCompleteOuterContainer--searchBarMobile {
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
  border-top: 1px solid rgba(129, 129, 129, 0.2);
}

.autoCompleteOuterContainer--searchBarMobile
  :global(.vtex-input-prefix__group) {
  border: none;
  min-height: 50px;
}

.externalSearchButtonWrapper--searchBarMobile {
  border: none;
}

.autoCompleteOuterContainer--searchBarMobile
  :global(.vtex-styleguide-9-x-input) {
  font-size: 14px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #777;
}

.autoCompleteOuterContainer :global(.vtex-input__suffix) {
  border-radius: 0 !important;
}

.imageElement--imageSliderBrands {
  cursor: pointer;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: opacity 0.3s ease, -webkit-filter 0.3s ease;
  transition: filter 0.3s ease, opacity 0.3s ease;
  transition: filter 0.3s ease, opacity 0.3s ease, -webkit-filter 0.3s ease;
}

.imageElement--imageSliderBrands:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.imageElement--movingProdImage {
  cursor: pointer;
  max-width: 100%;
  position: relative;
}

.imageElement--movingProdImage:hover {
  animation: squareAround 0.6s infinite;
}

.imageElementLink--movingProdImage {
  max-width: 100%;
}

@keyframes squareAround {
  0% {
    transform: translate(0px, 0px);
  }
  12.5% {
    transform: translate(3px, 0px);
  }
  25% {
    transform: translate(6px, 0px);
  }
  37.5% {
    transform: translate(6px, 3px);
  }
  50% {
    transform: translate(6px, 6px);
  }
  62.5% {
    transform: translate(3px, 6px);
  }
  75% {
    transform: translate(0px, 6px);
  }
  87.5% {
    transform: translate(0px, 3px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.infoCardCallActionContainer--info-card-moving-products {
  text-decoration: none;
}

.infoCardContainer--home-slider {
  height: 500px;
  width: 1250px;
}

@keyframes slideIn-bottom {
  0% {
    transform: translateY(5000%);
  }
  40%,
  100% {
    transform: translateY(0);
  }
}

.infoCardTextContainer--home-slider {
  padding-right: 45px;
  max-height: 100%;
}

@media screen and (min-width: 40em) {
  .infoCardTextContainer--home-slider {
    width: 75%;
  }
}

.infoCardSubhead--home-slider {
  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.25) 3px 0px 4px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 1rem;
  font-size: 1rem;
  animation: slideIn-bottom 5s infinite;
}

.infoCardCallActionText--home-slider {
  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.25) 3px 3px 4px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 2rem;
  font-size: 2rem;
  text-decoration: none;
  animation: slideIn-bottom 5s infinite;
}

.infoCardHeadline--home-slider {
  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.25) 2px 2px 2px;
  letter-spacing: 0px;
  font-weight: 600;
  line-height: 3.5rem;
  font-size: 3.5rem;
  animation: slideIn-bottom 5s infinite;
}

@media screen and (min-width: 20em) {
  .infoCardHeadline--home-slider {
    line-height: 2.5rem;
    font-size: 2.5rem;
  }

  .infoCardCallActionText--home-slider {
    line-height: 1.5rem;
    font-size: 1.5rem;
  }
}

.infoCardCallActionContainer--home-slider {
  text-decoration: none;
}

.shareLabel {
  display: none;
}

.container--productDescriptionRight {
  padding: 0 !important;
}

.productDescriptionTitle--productDescriptionRight {
  display: none;
}

.productDescriptionText--productDescriptionRight {
  color: #777777;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.productDescriptionContainer--productDescriptionRight {
  margin-top: 20px;
  margin-bottom: 20px;
}

.productDescriptionTitle--productDescriptionLeftTabCol {
  display: none;
}

.productDescriptionText--productDescriptionLeftTabCol {
  color: #777777;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 32px;
}

.searchBarIcon--external-search {
  outline: none;
  background: transparent;
}

.searchIcon {
  color: #333;
}

@media screen and (max-width: 40em) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.imageElement--aboutUsImageBanner {
  height: 60vh;
  width: 100%;
  object-fit: cover;
}

.imageElement--newsletterBannerImage {
  height: 60vh;
  width: 100%;
  object-fit: cover;
}

.buttonContainer--newsletterPageForm {
  padding-left: 5px !important;
}

.buttonContainer--newsletterPageForm :global(.vtex-button) {
  margin: 0;
  border-radius: 0;
}

.buttonContainer--newsletterPageForm :global(.vtex-button__label) {
  font-size: 13px;
  font-weight: 600;
}
