.accessCodeOptionBtn :global(.vtex-button) {
  border-radius: 0;
}

.accessCodeOptionBtn :global(.vtex-button__label) {
  font-size: 13px;
  font-weight: 600;
}

.emailPasswordOptionBtn :global(.vtex-button) {
  border-radius: 0;
}

.emailPasswordOptionBtn :global(.vtex-button__label) {
  font-size: 13px;
  font-weight: 600;
}

.formTitle {
  color: #777;
}

.sendButton :global(.vtex-button) {
  border-radius: 0;
}

.inputContainerAccessCode :global(.vtex-styleguide-9-x-input) {
  color: #777;
  font-size: 14px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.button {
  outline: none;
}

.accountOptions :global(.vtex-button) {
  outline: none;
}

.label {
  font-size: 13px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #333;
  font-weight: 600;
  max-width: 125px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow-wrap: break-word;
  overflow: hidden;
  padding-left: 5px;
}

.profileIcon--loginHeader {
  color: #333;
}

.profile {
  font-size: 13px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding-left: 5px;
  color: #83b735;
}
