.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

.socialNetworkImage {
  width: 50%;
}

.socialNetworkLink--linkedin {
  border-right-style: solid;
  border-color: #D3D3D3;
  border-width: 1px;
}
