.styledLinkContent {
  font-size: 12px;
}

/* styles for header1 */
/* ------------------ */
.styledLinkContent--topmenu-newsletter, .styledLinkContent--topmenu-faq {
  color: #333;
  font-weight: 400;
  font-size: 12px;
  font-family: "Lato",Arial,Helvetica,sans-serif;
}
.styledLinkContainer--topmenu-newsletter, .styledLinkContainer--topmenu-faq {
  margin-right: 0px;
  padding-right: 18px;
  margin-left: 0px;
  margin-top: 3px;
}

.styledLinkContainer--topmenu-faq {
  border-right-style: solid;
  border-color: #d3d3d3;
  border-width: 1px;
  padding-bottom: 10px;
  padding-right: 14px;
}

/* ------------------ */


/* styles for header2 */
/* ------------------ */
/* .styledLinkContent--wishlist {
  margin-left: 0px;
} */
.styledLinkContainer--wishlist {
  margin: 0px;
  padding-left: 12px;
  padding-right: 24px;
  padding-top: 4px;
  padding-bottom: 5.12px;
}
.styledLinkContainer--wishlist:hover {
  background-color: #eef7ee;
}
.styledLinkIcon--wishlist {
  color: #979899;
}
/* ------------------ */


/* styles for header3 */
/* ------------------ */
.styledLinkContent--browse-categories {
  width: 72%;
  color: #333;
  font-weight: 700;
  font-size: 13px;
  font-family: "Lato",Arial,Helvetica,sans-serif;
}
.styledLinkContainer--browse-categories {
  margin-left: 0px;
  padding-top: 19px;
}
.menuItem--browse-categories {
  width: 20%;
  margin-right: 30px;
}
.styledLinkIcon--browse-categories {
  margin-top: -2px;
}

.styledLinkContent--headermenu {
  font-family: "Lato",Arial,Helvetica,sans-serif;
  font-weight: 700;
  font-size: 13px;
}
.styledLinkContainer--headermenu {
  margin-right: 10px;
  margin-left: 10px;
}
.menuItem--headermenu {
  border-right-style: solid;
  border-color: #D3D3D3;
  border-width: 1px;
  padding-top: 3px;
}
/* ------------------ */

/* styles for menu drop down */
/* ------------------------- */
.submenuWrapper--submenu-browse-categories {
  margin-top: -12px;
  padding-bottom: 0px;
}
.styledLinkContent--primary-category {
  white-space: initial;
  word-break: normal;
  width: 105%;
  font-family: "Lato",Arial,Helvetica,sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #333;
}
.styledLinkContainer--primary-category {
  margin-left: 20px;
}
.styledLinkIcon--primary-category {
  transform: rotate(90deg);
}
.menuItem--primary-category {
  border-color: lightgray;
  border-bottom-style: solid;
  border-width: 1px;
}
.menuItem--primary-category:hover {
  background-color: whitesmoke;
}
/* ------------------------- */

/* styles for submenu drop down */
/* ---------------------------- */
.styledLinkContent--secondary-category {
  font-family: "Lato",Arial,Helvetica,sans-serif;
  font-size: 14px;
  color: #777;
}
.submenuWrapper--submenu-subcategories {
  margin-top: -52px;
  margin-left: 269px;
}
/* ---------------------------- */
