/* add a box-shadow to desktop/mobile header when stuck */
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header),
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

/* if supported add some translucency to the desktop/mobile header background */
@supports (backdrop-filter: blur(5px)) {
  :global(.vtex-sticky-layout-0-x-wrapper--stuck)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header),
  :global(.vtex-sticky-layout-0-x-wrapper--stuck)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
    backdrop-filter: blur(8px);
  }

  /* header background when stuck and not hovered */
  :global(.vtex-sticky-layout-0-x-wrapper--stuck):not(:hover)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header),
  :global(.vtex-sticky-layout-0-x-wrapper--stuck):not(:hover)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
    background: rgba(240, 240, 240, 0.8);
  }
}

:global(.vtex-sticky-layout-0-x-container)
:global(.vtex-flex-layout-0-x-flexRow--main-header) {
  height: 0.1px;
}

:global(.vtex-sticky-layout-0-x-container)
:global(.vtex-flex-layout-0-x-flexRowContent--main-header),
:global(.vtex-sticky-layout-0-x-container)
:global(.vtex-flex-layout-0-x-flexRow--main-header) {
  opacity: 0;
}

:global(.vtex-sticky-layout-0-x-wrapper--stuck)
:global(.vtex-flex-layout-0-x-flexRowContent--main-header),
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
:global(.vtex-flex-layout-0-x-flexRow--main-header) {
  opacity: 1;
}

:global(.vtex-sticky-layout-0-x-container)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header)
    :global(.vtex-store-components-3-x-logoLink),
:global(.vtex-sticky-layout-0-x-container)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header)
    :global(.vtex-store-components-3-x-searchBarContainer),
:global(.vtex-sticky-layout-0-x-container)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header)
    :global(.vtex-login-2-x-container),
:global(.vtex-sticky-layout-0-x-container)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header)
    :global(.vtex-menu-2-x-styledLinkContainer--wishlist),
:global(.vtex-sticky-layout-0-x-container)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header)
    :global(.vtex-minicart-2-x-openIconContainer)
{
    display: none;
}

:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header)
    :global(.vtex-store-components-3-x-logoLink),
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header)
    :global(.vtex-store-components-3-x-searchBarContainer),
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header)
    :global(.vtex-login-2-x-container),
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header)
    :global(.vtex-menu-2-x-styledLinkContainer--wishlist),
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header)
    :global(.vtex-minicart-2-x-openIconContainer)
{
    display: block;
}
