.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034e;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034e;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034e;
}

.container--title {
  color: #03034e;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034e;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}

.paragraph--aboutUsDescriptionText {
  color: rgb(119, 119, 119);
}

.paragraph--contactTitle1 {
  color: rgba(255, 255, 255, 0.8);
}

.headingLevel1--contactTitle2 {
  margin: 0;
}

.paragraph--contactTitle3 {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10%;
}

.container--newsletterTitle {
  border-bottom: 2px solid white;
}

.paragraph--newsletterSubtitle {
  color: rgba(255, 255, 255, 0.8);
}

.paragraph--premiumfood {
  font-size: 12px;
  color: #000000;
  font-weight: 600;
}

.headingLevel5--categoryFromSliderTitle {
  margin-top: 10px;
  margin-bottom: 0px;
  cursor: pointer;
}

.paragraph--categoryFromSliderTitle {
  margin-top: 5px;
  color: #8e8e8e;
  cursor: pointer;
}

.headingLevel3--recommendedTitleHeader {
  margin: 0;
}

.headingLevel3--recommendedCategoryHighlight {
  margin-top: 10px;
  margin-bottom: 0px;
  cursor: pointer;
}

.headingLevel5--recommendedCategoryHighlight {
  margin-top: 10px;
  margin-bottom: 0px;
  cursor: pointer;
}

.paragraph--recommendedCategoryHighlight {
  margin-top: 5px;
  color: #8e8e8e;
  cursor: pointer;
}

.container--contactUsTopTitleForm {
  margin-bottom: 30px;
}

.headingLevel4--contactUsTopTitleForm {
  margin-top: 20px;
  margin-bottom: 20px;
}

.headingLevel4--contactUsBottomTitleForm {
  margin-top: 50px;
  margin-bottom: 10px;
}

.paragraph--contactUsTopTitleForm {
  font-size: 14px;
  color: #777777;
}

.paragraph--contactUsBottomTitleForm {
  font-size: 14px;
  color: #777777;
}

:global(.vtex-input) :global(.vtex-input__label) {
  font-size: 14px;
  color: #777777;
}

:global(.vtex-textarea) :global(.vtex-textarea__label) {
  font-size: 14px;
  color: #777777;
  border-radius: 0px;
}

:global(.vtex-input-prefix__group) {
  border-radius: 0px;
}

.paragraph--productQuestionsAndSuggestions {
  font-weight: 600;
  color: #777;
  font-size: 14px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.link--productQuestionsAndSuggestions {
  text-decoration: none;
  font-weight: 600;
  color: rgb(119, 119, 119);
  font-size: 14px;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

.link--productQuestionsAndSuggestions:hover {
  color: #3f3f3f;
}

.paragraph--productMinBuy {
  font-weight: 600;
  color: #777;
  font-size: 14px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.paragraph--shareProductText {
  color: #1b1919;
  vertical-align: middle;
  font-weight: 600;
  font-size: 14px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.wrapper--productDescriptionLabelTitle {
  margin-top: 15px;
  margin-bottom: 10px;
}

.headingLevel4--productDescriptionLabelTitle {
  font-size: 16px;
  margin: 0;
  line-height: 1.4;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #2d2a2a;
  font-weight: 600;
}

.paragraph--productDescriptionLabelText {
  font-size: 14px;
  margin: 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #777777;
  font-weight: 400;
}

.paragraph--productDeliveryDearClient {
  font-size: 14px;
  margin: 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #777777;
  font-weight: 400;
}

.paragraph--productDeliveryInfoText {
  font-size: 14px;
  margin: 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #777777;
  font-weight: 400;
}

.paragraph--productDeliveryThankYou {
  font-size: 14px;
  margin: 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #777777;
  font-weight: 400;
}

.headingLevel2--productDeliveryThankYou {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  color: #2d2a2a;
  font-weight: 600;
  line-height: 1.4;
  font-size: 24px;
}

.link--productDeliveryThankYou {
  text-decoration: none;
  font-size: 14px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #777777;
  font-weight: 400;
  margin-bottom: 0;
}

.container--titleWishlist {
  justify-content: center;
  background: #0a0a0a;
}

.headingLevel1--titleWishlist {
  color: white;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.headingLevel4--wishlistSubtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  color: #2d2a2a;
  line-height: 1.4;
  margin-bottom: 10px;
}

.container--wishlistSubtitle {
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
  margin-bottom: 10px;
}

.paragraph--minicartEmptyStateText {
  color: #2d2a2a;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
}

.container--movingProdTopProductsText {
  align-self: center;
  width: 100%;
  height: 100%;
}

.wrapper--movingProdTopProductsText {
  padding: 10px;
  height: 100%;
  display: flex;
  max-width: 100%;
}

.headingLevel1--movingProdTopProductsText {
  font-size: 250px;
  white-space: nowrap;
  color: #ffffff0f;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  max-width: 100%;
  overflow: hidden;
  align-self: center;
}
