.link--breadCrumbProductPage {
  color: #8e8e8e;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  transition: all 0.25s ease;
  font-size: 13px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.link--breadCrumbProductPage:hover {
  color: #3f3f3f;
}

.term--breadCrumbProductPage {
  color: #333333;
  font-weight: bold;
  font-size: 13px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.arrow--breadCrumbProductPage {
  color: #8e8e8e;
}

.termArrow--breadCrumbProductPage {
  color: #8e8e8e;
  padding-left: 0;
}

.container--breadcrumb-search-result {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.25rem;
  padding-right: 0.5rem;
}

.homeIcon--breadcrumb-search-result {
  display: flex;
}

.link--breadcrumb-search-result {
  padding-top: 0;
  padding-bottom: 0;
}
