.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #f0f0f0;
}

.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.sliderLayoutContainer--slider-about-us-categories {
  margin-top: 50px;
  margin-bottom: 50px;
}

.sliderLayoutContainer--sliderAllCategories {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 25px;
}

.slideChildrenContainer--shelf {
  justify-content: flex-start;
}

.slideChildrenContainer--carousel {
  background-color: whitesmoke;
}

.sliderLayoutContainer--carousel {
  background-color: whitesmoke;
}
