.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

.socialNetworkImage {
  width: 50%;
}

.socialNetworkWrapper--detailedBlogPost {
  max-width: 1222px !important;
  margin: auto;
  width: 95%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid rgba(113, 113, 113, 0.15);
}

.socialNetworksContainer--detailedBlogPost {
  justify-content: center !important;
}

.socialNetworkImage--detailedBlogPost {
  width: 95% !important;
}

.socialNetworkLink--linkedin {
  border-right-style: solid;
  border-color: #d3d3d3;
  border-width: 1px;
}

.socialNetworkLink--detailedBlogPost {
  border: none;
}

.socialNetworkWrapper--aboutUsDescriptionSocialNetworks {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 64px;
  border-top: 2px solid rgba(113, 113, 113, 0.15);
}

.socialNetworksContainer--aboutUsDescriptionSocialNetworks {
  justify-content: flex-end !important;
}

.socialNetworkLink--aboutUsDescriptionSocialNetworks {
  border: none;
}

.socialNetworkImage--aboutUsDescriptionSocialNetworks {
  width: 70% !important;
}
