.container {
  width: 150%;
}

.minicartCheckoutButton :global(.vtex-button) {
  border-radius: 0;
  background-color: #83b735;
  border-color: #83b735;
}

.minicartCheckoutButton :global(.vtex-button):hover {
  border-radius: 0;
  background-color: #74a32f;
  border-color: #74a32f;
}

.minicartCheckoutButton :global(.vtex-button__label) {
  color: white;
  font-size: 13px;
}

.closeIconButton {
  color: #777;
}

.closeIconButton:hover {
  color: #2a2d2d;
}

/* .openIconContainer {
  margin: 0px;
  padding: 0px;
} */

.overlay {
  background-color: rgb(0, 0, 0, 0.7);
}

.minicartEmptyStateContainer {
  justify-content: flex-start;
  padding-top: 30px;
}

.openIconContainer--cart-header {
  padding: 0;
}
